.materia {
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  color: white;
}

.aprobada {
  background-color: #1d0db6;
}

.habilitada {
  background-color: ##045cec;
  color: #000;
}

.bloqueada {
  background-color: #9e9e9e;
  opacity: 0.6;
  cursor: not-allowed;
}
